my_first_fpga/**
my_stopwatch/**
!my_stopwatch/*.v
!my_stopwatch/report
sc_computer_test/*
!sc_computer_test/my_code
sc_computer_test/my_code/*
!sc_computer_test/my_code/*.s
!sc_computer_test/report
!sc_computer_test/my_sc_computer
sc_computer_test/my_sc_computer/*
!sc_computer_test/my_sc_computer/source
sc_computer_test/my_sc_computer/source/*
!sc_computer_test/my_sc_computer/source/*.v
pipeline_computer/*
!pipeline_computer/source
!pipeline_computer/report
!pipeline_computer/test_code
pipeline_computer/test_code/*
!pipeline_computer/test_code/*.s